* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth; 
}

@font-face {
    font-family: coco;
    src: url(./fuentes/Cocogoose\ Pro-trial.ttf);
}


header {
    height: 60px;
    width: 100%;
    background-color: #b30505;
    font-size: 20px;
    font-family: coco;
    padding: 10px;
    position: fixed;
}

.logo {
    float: left;
    text-transform: uppercase;
    text-shadow: 0 0 5px black;
    color: rgb(+234, 198, 64);
    font-weight: bold;
    font-size: 30px;
    font-family: coco;
}

.logo a{
    text-decoration: none;
    color: unset;
}

.barra {
    float: right;
    display: inline;
    margin-right: 60px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;

    text-transform: capitalize;
    margin-right: 70px;
}

ul a {
    color: rgb(+234, 198, 64);
    text-decoration: none;
}

ul a:hover {
    color: rgb(205, 183, 39);
}

ul a:focus {
    box-shadow: 0 0 15px 10px rgb(205, 183, 39);
    border-radius: 20%;
}
    
main {
        height: 100vh;
        width: 100%;
        background-image: url(./multimedia/relaxation-g11d49c312_1280.jpg);
        background-size: cover;
        background-position: left;
    }

    .call {
        width: 40%;
        color: #b30505;
        background-color: rgb(205, 183, 39);
        float: right;
        margin: 40px;
        padding: 20px;
        border: 3px solid #b30505;
        text-transform: uppercase;
        margin-top: 80px;
    }

    h1.display-4 {
        margin-bottom: 20px;

    }

    .call {
        margin-bottom: 20px;
    }

    .call p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 20px;
    }

    .call a {
        background-color: #b30505;
        color: rgb(205, 183, 39);
        text-decoration: none;
        padding: 10px 20px;
        text-transform: uppercase;
    }

    .call a:hover {
        background-color: #b3050590;
    }

    h2 {
        text-align: center;
        background: linear-gradient(90deg, rgba(205,183,39,1) 55%, rgba(179,5,5,1) 100%);
        text-transform: uppercase;
        padding: 20px
    }

    section.cont {
        height: 100%;
        width: 100%;
        background-size: cover;
    }


    .redes {
        font-size: 30px;
        color: rgb(205, 183, 39);
    }

    .redes a{
        text-decoration: none;
        color: rgb(205, 183, 39);
    }

    .subir {
        height: 60px;
        width: 60px;
        background-color: #67ce3f;
        position: fixed;
        right: 40px;
        bottom: 40px;
        color: aliceblue;
        text-align: center;
        line-height: 40px;
        font-size: 40px;
        border-radius: 50%;
        padding: 3px;
    }

    #wppLogo {
        vertical-align: middle;
    }

    .back1 {
        width: 40%;
        color: #b30505;
        background-color: rgb(205, 183, 39);
        float: right;
    }

    .back1 {
        display: inline-block;
        margin-right: 80px;
        margin-top: 60px;
        border-radius: 50%;
    }

    .card-text {
        color: rgb(205, 183, 39);
    }

    .card-body{
        background-color: rgb(104, 102, 84);
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #grilla {
        background: rgb(205,183,39);
        background: linear-gradient(90deg, rgba(205,183,39,1) 55%, rgba(179,5,5,1) 100%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 450px;
        grid-template-areas:
            "foto1 foto2 foto3"
            "foto1 foto2 foto3"
            "foto1 foto2 foto3";
        grid-gap: 20px;
        background-size: cover;
        padding-bottom: 15px;
    }

    .fotos {
        border: 6px solid rgb(205, 183, 39);
        border-radius: 15px;
    }

    .foto1 {
        grid-area: foto1;
        background-image: url(./multimedia/IMG_7202.jpg);
        background-size: cover;
        background-position: center;
    }

    .foto2 {
        grid-area: foto2;
        background-image: url(./multimedia/IMG_6824\ \(1\).jpg);
        background-size: cover;
    }

    .foto3 {
        grid-area: foto3;
        background-image: url(./multimedia/IMG_7209.jpg);
        background-size: cover;
    }

    #sec1 {
        margin: 0%;
        color: #b30505;
        font-style: oblique
    }

    #cont1 {
        margin: 0;
    }

    .jumbotron {
        background-color: rgb(205, 183, 39);
    }

    .btn-primary {
        background-color: #b30505;
    }


    .mapa {
        display: grid;
        justify-items: center;
        background: rgb(205,183,39);
        background: linear-gradient(90deg, rgba(205,183,39,1) 55%, rgba(179,5,5,1) 100%);
        padding-bottom: 60px;
    }
    
    h1.display-4{
        font-size:xx-large ;
    }
    
    footer{
        background-color: rgb(104, 102, 84);
        position: relative;
        bottom: 0;
        width: 100%; 
    } 












// cambiar de ancho y alto para mobile 
@media (max-width:1301px) and (max-height:353px) {

    body{
        display: inline-block;
    }
    header {
        height: 70px;
        width: 100%;
        background-color: #b30505;
        font-size: 20px;
        font-family: coco;
        padding: 20px;
    }

    .logo {
        float: left;
        text-transform: uppercase;
        text-shadow: 0 0 5px black;
        color: rgb(+234, 198, 64);
        font-weight: bold;
        font-size: 30px;
        font-family: coco;
    }

    .barra {
        float: center;
        flex-direction: column;
        height: 130px;
        justify-content: space-evenly;
    }

    ul {
        list-style: none;
    }

    ul li {
        display: inline-block;
        text-transform: capitalize;
        margin-left: 70px;
    }

    ul a {
        color: rgb(+234, 198, 64);
        text-decoration: none;
    }

    ul a:hover {
        color: rgb(205, 183, 39);
    }

    ul a:focus {
        box-shadow: 0 0 15px 10px rgb(205, 183, 39);
        border-radius: 20%;
    }

    main {
        height: 200vh;
        width: 100%;
        background-image: url(./multimedia/relaxation-g11d49c312_1280.jpg);
        background-size: cover;
        background-position: left;
    }

    .call {
        width: 40%;
        color: #b30505;
        background-color: rgb(205, 183, 39);
        float: right;
        margin: 40px;
        padding: 20px;
        border: 3px solid #b30505;
    }

    h1 {
        font-family: coco;
        margin-bottom: 20px;
    }

    .call {
        margin-bottom: 20px;
    }

    .call p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 20px;
    }

    .call a {
        background-color: #b30505;
        color: rgb(205, 183, 39);
        text-decoration: none;
        padding: 10px 20px;
        text-transform: uppercase;
    }

    .call a:hover {
        background-color: #b3050590;
    }

    h2 {
        text-align: center;
        background-color: rgb(205, 183, 39);
        text-transform: uppercase;
        font-family: coco;
        padding: 20px
    }

    section.cont {
        height: 100%;
        width: 100%;
        background-size: cover;
    }

    .footer {
        text-align: center;
        background-color: #b30505;
        color: rgb(255, 255, 255);
        padding: 20px;
    }

    .redes {
        font-size: 30px;
        color: rgb(205, 183, 39);
        flex-direction: row;
        justify-content: flex-end;
    }


    .subir {
        height: 60px;
        width: 60px;
        background-color: #67ce3f;
        position: fixed;
        right: 40px;
        bottom: 40px;
        color: aliceblue;
        text-align: center;
        line-height: 40px;
        ;
        font-size: 40px;
        border-radius: 50%;
        padding: 3px;
    }

    #wppLogo {
        vertical-align: middle;
    }

    .back1 {
        width: 40%;
        color: #b30505;
        background-color: rgb(205, 183, 39);
        float: right;
    }

    .back1 {
        display: inline-block;
        margin-right: 80px;
        margin-top: 60px;
        border-radius: 50%;
    }

    .card-text {
        color: #b30505;
    }

    .card-body {
        color: black;
    }

    #grilla {
        background-color: rgb(205, 183, 39);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 450px;
        grid-template-areas:
            "foto1 foto2 foto3"
            "foto1 foto2 foto3"
            "foto1 foto2 foto3";
        grid-gap: 20px;
        background-size: cover;
        padding-bottom: 15px;
    }

    .fotos {
        border: 6px solid rgb(205, 183, 39);
        border-radius: 15px;
    }

    .foto1 {
        grid-area: foto1;
        background-image: url(./multimedia/IMG_7202.jpg);
        background-size: cover;
        background-position: center;
    }

    .foto2 {
        grid-area: foto2;
        background-image: url(./multimedia/IMG_6824\ \(1\).jpg);
        background-size: cover;
    }

    .foto3 {
        grid-area: foto3;
        background-image: url(./multimedia/IMG_7209.jpg);
        background-size: cover;
    }

    #sec1 {
        margin: 0%;
        color: #b30505;
        font-style: oblique
    }

    #cont1 {
        margin: 0;
    }

    .jumbotron {
        background-color: rgb(205, 183, 39);
    }

    .btn-primary {
        background-color: #b30505;
    }


    .mapa {
        display: grid;
        justify-items: center;
        background-color: rgb(205, 183, 39);
        padding-bottom: 60px;
    }

    .mapau {
        border-radius: 18px;
        border: 6px solid #b30505;
    }
    
}







@media (max-width:800px) {
    body{
        display: inline-block;
    }
    header {
        height: 120px;
        width: 100%;
        background-color: #b30505;
        font-size: 20px;
        font-family: coco;
        padding: 20px;
    }

    .logo {
        text-transform: uppercase;
        text-shadow: 0 0 5px black;
        color: rgb(+234, 198, 64);
        font-weight: bold;
        font-size: 30px;
        font-family: coco;
    }

    .barra {
        flex-direction: column;
        height: 120px;
        justify-content: space-evenly;
    }

    ul {
        list-style: none;
    }

    ul li {
        display: inline-block;
        text-transform: capitalize;
        margin-left: 70px;
    }

    ul a {
        color: rgb(+234, 198, 64);
        text-decoration: none;
    }

    ul a:hover {
        color: rgb(205, 183, 39);
    }

    ul a:focus {
        box-shadow: 0 0 15px 10px rgb(205, 183, 39);
        border-radius: 20%;
    }

    main {
        height: 250vh;
        width: 100%;
        background-image: url(./multimedia/relaxation-g11d49c312_1280.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .jumbotron{
        width: 100%;
    }

    .call {
        width: 40%;
        color: #b30505;
        background-color: rgb(205, 183, 39);
        float: right;
        margin: 40px;
        padding: 20px;
        border: 3px solid #b30505;
        display: flex;
    }

    h1 {
        font-family: coco;
        margin-bottom: 20px;
    }

    .call {
        margin-bottom: 20px;
    }

    .call p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 20px;
    }

    .call a {
        background-color: #b30505;
        color: rgb(205, 183, 39);
        text-decoration: none;
        padding: 10px 20px;
        text-transform: uppercase;
    }

    .call a:hover {
        background-color: #b3050590;
    }

    h2 {
        text-align: center;
        background-color: rgb(205, 183, 39);
        text-transform: uppercase;
        font-family: coco;
        padding: 20px
    }

    section.cont {
        height: 100%;
        width: 100%;
        background-size: cover;
    }

    .footer {
        text-align: center;
        background-color: #b30505;
        color: rgb(255, 255, 255);
        padding: 20px;
    }

    .redes {
        font-size: 30px;
        color: rgb(205, 183, 39);
        flex-direction: row;
        justify-content: flex-end;
    }


    .subir {
        height: 80px;
        width: 80px;
        background-color: #67ce3f;
        position: fixed;
        right: 40px;
        bottom: 40px;
        color: aliceblue;
        line-height: 40px;
        font-size: 60px;
        border-radius: 50%;
        padding: 9px;
    }
    .subir :hover {        
        height: 80px;
        width: 80px;
        background-color: #52f710e5;
        position: fixed;
        right: 40px;
        bottom: 40px;
        color: aliceblue;
        text-align: center;
        line-height: 40px;
        font-size: 60px;
        border-radius: 50%;
        padding: 9px;
    }

    .back1 {
        width: 40%;
        color: #b30505;
        background-color: rgb(205, 183, 39);
        float: right;
        display: inline-block;
        margin-right: 80px;
        margin-top: 60px;
        border-radius: 50%;
    }


    .card-text {
        color: #b30505;
    }

    .card-body {
        color: black;
    }

    #grilla {
        background-color: rgb(205, 183, 39);
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 450px;
        grid-template-areas:
            "foto1 foto2 foto3"
            "foto1 foto2 foto3"
            "foto1 foto2 foto3";
        grid-gap: 20px;
        background-size: cover;
        padding-bottom: 15px;
    }

    .fotos {
        border: 6px solid rgb(205, 183, 39);
        border-radius: 15px;
    }

    .foto1 {
        grid-area: foto1;
        background-image: url(./multimedia/IMG_7202.jpg);
        background-size: cover;
        background-position: center;
    }

    .foto2 {
        grid-area: foto2;
        background-image: url(./multimedia/IMG_6824\ \(1\).jpg);
        background-size: cover;
    }

    .foto3 {
        grid-area: foto3;
        background-image: url(./multimedia/IMG_7209.jpg);
        background-size: cover;
    }

    #sec1 {
        margin: 0%;
        color: #b30505;
        font-style: oblique;
        weight:250vh;
    }

    #cont1 {
        margin: 0;
    }

    .jumbotron {
        background-color: rgb(205, 183, 39);
    }

    .btn-primary {
        background-color: #b30505;
    }


    .mapa {
        display: grid;
        justify-items: center;
        background-color: rgb(205, 183, 39);
        padding-bottom: 60px;
    }

    .mapau {
        border-radius: 18px;
        border: 6px solid #b30505;
    }
    
    h1.display-4{
        font-size:xx-large ;
    }
}
